.App {
  /* background-color: #282c34; */
  background-color: #f57676;
  min-height: 100vh;
}

.home-container {
  margin: 0 auto;
  background-color: lime;
}

.dank { 
  background-color: aqua;
}

.link-container {
  border: 2px solid black;
  border-radius: 0.5rem;
}

.link-list {
  border: 2px solid green;
}

.link {
  border: 1px solid black;
  display: flex;
}

.new-link-button {
  padding: 20px;
}

.link button.btn-close {
  float: right;
}

.link-icon {
  justify-content: center;
}